/* ================== FONT ================== */
@font-face {
    font-family: "pop-light";
    src: url("./Assets/fonts/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "pop-reg";
    src: url("./Assets/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "pop-med";
    src: url("./Assets/fonts/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "pop-bold";
    src: url("./Assets/fonts/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: "pop-black";
    src: url("./Assets/fonts/Poppins-Black.ttf");
  }
  
  /* ================== CSS VARIABLE ================== */
  :root {
    --primary-color: #a1ff69;
    --secondary-color: #13252f;
    --heading-color: #fff;
    --body-bg: #13252f;
    --small-text-color: #acb2b2;
    --font-name: "pop-reg", sans-serif;
    --card-bg: #152833;
  }
  /* ======== BASE STYLE ======== */
  * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }
  body {
    background-color: var(--body-bg);
    font-family: var(--font-name);
  }
  a {
    text-decoration: none;
    color: unset;
  }
  ul {
    list-style: none;
  }
  p {
    color: var(--small-text-color);
    font-size: 0.9rem;
    line-height: 28px;
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--heading-color);
  }
  section {
    padding: 60px 0px;
  }
  /* ======== REUSEABLE STYLE ======== */
  .container {
    width: 1140px;
    margin: auto;
    padding: 0px 20px;
  }
  .highlight {
    color: var(--primary-color);
  }